
.cotainer {
    width: 100%;
    height: 4.5rem;
    background-color: #0d6efd;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    flex: nowrap;
}

.home {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.cotainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
 
}
.cotainer li {
    margin: 0 1rem;
   
}
.cotainer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.cotainer button {
    font: inherit;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 500;
    padding: 0.5rem ;
    border-radius: 6px;
    cursor: pointer;
    color: white;
  margin-left:0.5rem;
}

.container a:hover {
    color: #c291e2;
}

.container button:hover {
    background-color: #c291e2; 
    color:  #38015c;
}